---
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <Fragment slot="head">
    <title th:text="|${post.spec.title} - ${site.title}|"></title>
  </Fragment>
  <th:block th:replace="~{modules/article-layout :: article-layout(article = ${post}, kind = 'post', tocMode = ${theme.config.post.toc_mode ?: 'both'}, showSidebar = true, postDisplay = ${theme.config.post.post_display}, shareIds = ${theme.config.post.share_item_ids})}" />
</Layout>
